{{#if text}}
    <ul>
        {{#each text}}
            {{@root.food}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
<form action="/movie/movieAdd" method="post">
    <ul>
        <li>
            <label for="movieName">movieName</label>
            <input type="text" name="movieName">
        </li>
        <li>
            <label for="category">category</label>
            <input type="text" name="category">
        </li>
        <li>
            <label for="country">country</label>
            <input type="text" name="country">
        </li>
        <li>
            <label for="addYear">addYear</label>
            <input type="number" name="addYear">
        </li>
        <li>
            <label for="year">year</label>
            <input type="date" name="year">
        </li>
        <li>
            <label for="imdbScore">imdbScore</label>
            <input type="number" step="0.1" name="imdbScore">
        </li>
        <li>
            <button type="submit">Kaydet</button>
        </li>
    </ul>
</form>
<a href="/movie">İptal</a>